.text-bg-deathknight {
  background-color: #C41E3A !important;
  color: #FFFFFF !important;
}

.text-bg-demonhunter {
  background-color: #A330C9 !important;
  color: #FFFFFF !important;
}

.text-bg-druid {
  background-color: #FF7C0A !important;
  color: #000000 !important;
}

.text-bg-evoker {
  background-color: #33937f !important;
  color: #000000 !important;
}

.text-bg-hunter {
  background-color: #AAD372 !important;
  color: #000000 !important;
}

.text-bg-mage {
  background-color: #3FC7EB !important;
  color: #000000 !important;
}

.text-bg-monk {
  background-color: #00FF98 !important;
  color: #000000 !important;
}

.text-bg-paladin {
  background-color: #F48CBA !important;
  color: #000000 !important;
}

.text-bg-priest {
  background-color: #FFFFFF !important;
  color: #000000 !important;
}

.text-bg-rogue {
  background-color: #FFF468 !important;
  color: #000000 !important;
}

.text-bg-shaman {
  background-color: #0070DD !important;
  color: #000000 !important;
}

.text-bg-warlock {
  background-color: #8788EE !important;
  color: #000000 !important;
}

.text-bg-warrior {
  background-color: #C69B6D !important;
  color: #000000 !important;
}
