@inject IMediator _mediator

<table class="table table-sm">
  <colgroup>
    <col class="col-md-10">
    <col class="col-md-2">
  </colgroup>
  <thead class="table-dark">
    <tr>
      <th>Classes</th>
      <th class="text-center">Count</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var data in _dataView)
    {
      <tr>
        <td class="@EnumCssUtilities.GetClassColor(data.Key.Indentity)">@data.Key.Name</td>
        <td class="text-center">@data.Value</td>
      </tr>
    }
  </tbody>
</table>

@code {
  [Parameter]
  public IEnumerable<SimplePlayerDto> Players { get; set; }

  private IDictionary<Class, int> _dataView;

  protected override async Task OnInitializedAsync()
  {
    _dataView = await _mediator.Send(new GetPlayerClassesQuery { Players = Players });
  }
}